{% extends 'frontend/base.html' %}
{% load humanize %}

{% block title %}{{ object.name }}{% endblock %}

{% block content %}
    <header class="page-header">
        <h1>{{ object.name }} <a class="small" href="{{ object.dataset.get_absolute_url }}">{{ object.dataset.name }}</a></h1>
    </header>
    <section>
        <h2>Revisions</h2>
        {% with revisions=object_list %}
        {% if revisions %}
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th>Revision</th>
                        <th>Updated</th>
                        <th>Size</th>
                        <td></td>
                    </tr>
                </thead>
            {% for revision in revisions %}
                <tbody>
                <tr>
                    <td>{{ revision.level }}</td>
                    <td title="Updated on {{ revision.updated_at }}">{{ revision.updated_at|naturaltime }}</td>
                    <td>
                        {{ revision.size|filesizeformat }}
                        <a class="btn btn-link btn-xs" href="{{ revision.get_absolute_url }}" title="Download revision">
                            <span class="glyphicon glyphicon-download" aria-hidden="true"></span>
                        </a>
                    </td>
                    <td class="text-right">
                {% if revision.tags.all|length > 0 %}
                    {% for tag in revision.tags.all %}
                        <a class="small label label-default"
                           href="{% url 'bdr.frontend:search' %}?query={{ tag|urlencode }}">{{ tag }}</a>
                    {% endfor %}
                {% endif %}
                    </td>
                </tr>
                </tbody>
            {% endfor %}
            </table>

            {% include 'frontend/fragments/pagination.html' with url=object.get_absolute_url %}
        {% else %}
            <p class="alert alert-warning">There are no revisions of this file.</p>
        {% endif %}
        {% endwith %}
    </section>
{% endblock %}
