{% extends "bdr/formats/format_detail.html" %}
{% load bootstrap3 %}

{% block fields %}
    {{ block.super }}
    <table class="table table-condensed table-responsive">
        <thead>
            <tr>
                <th>Name</th>
                <th>Key</th>
            </tr>
        </thead>
        <tbody>
    {% for field in fields %}
        <tr>
            <td>{{ field.name }}</td>
            <td>{% if field.is_key %}<span class="glyphicon glyphicon-ok"></span>{% endif %}</td>
        </tr>
    {% endfor %}
        </tbody>
    </table>
{% endblock %}
