{% extends "bdr/formats/format_create.html" %}
{% load bootstrap3 %}

{% block stylesheets %}
    {{ block.super }}
    {{ formset.media.css }}
{% endblock %}

{% block scripts %}
    {{ block.super }}
    {{ formset.media.js }}
{% endblock %}

{% block form %}
    <fieldset>
        <legend>Details</legend>

        {% bootstrap_form form layout="horizontal" %}
    </fieldset>

    <fieldset>
        <legend>Fields</legend>
        {% bootstrap_form formset.management_form %}

        <table class="table table-responsive table-condensed">
            <thead>
                <tr>
                    <th class="col-xs-10">Name</th>
                    <th class="col-xs-1">Key</th>
                    <th class="col-xs-1">Delete?</th>
                </tr>
            </thead>
            <tbody>
            {% for form in formset %}
                <tr>
                    <td>
                        {% bootstrap_field form.name show_label=False layout="horizontal" horizontal_field_class="col-xs-12" horizontal_label_class="" %}
                    {% for field in form.hidden_fields %}
                        {{ field }}
                    {% endfor %}
                    </td>
                    <td>
                        <div class="form-group">
                            <span class="form-control-static col-xs-12">{{ form.is_key }}</span>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <span class="form-control-static col-xs-12">{{ form.DELETE }}</span>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </fieldset>
{% endblock %}
