{% extends "bdr/base-sidebar.html" %}
{% load bootstrap3 %}

{% block title %}Delete {{ category.name }}?{% endblock %}

{% block sidebar %}
    <nav>
        <h2>Actions</h2>
        <ul class="nav nav-pills nav-stacked">
            <li role="presentation"><a href="{{ category.get_absolute_url }}">
                {% bootstrap_icon "file" %} View
            </a></li>
            <li role="presentation"><a href="{% url 'bdr:edit-category' pk=category.pk name=category.name|slugify %}">
                {% bootstrap_icon "pencil" %} Edit
            </a></li>
            <li class="active" role="presentation"><a href="{% url 'bdr:delete-category' pk=category.pk name=category.name|slugify %}">
                {% bootstrap_icon "remove" %} Delete
            </a></li>
        </ul>
    </nav>
{% endblock %}

{% block content %}
    <nav>
        <ol class="breadcrumb small">
            <li><a href="{% url 'bdr:home' %}">Home</a></li>
            <li><a href="{% url 'bdr:categories' %}">Categories</a></li>
            <li><a href="{{ category.get_absolute_url }}">{{ category.name }}</a></li>
            <li class="active">Delete</li>
        </ol>
    </nav>

    <header class="page-header">
        <h1>Delete {{ category.name }}?</h1>
    </header>

    <section>
        <form action="{% url 'bdr:delete-category' pk=category.pk name=category.name|slugify %}" method="post">
            {% csrf_token %}
            <p>Are you sure you want to delete the <em>{{ category.name }}</em> category?</p>
            <p class="text-danger help-block">This action is irreversible!</p>

            <div class="form-group">
                {% bootstrap_button button_type="submit" content="Delete" button_class="btn-danger" %}
                {% bootstrap_button content="Cancel" button_class="btn-default" href=category.get_absolute_url %}
            </div>
        </form>
    </section>
{% endblock %}
