{% extends "bdr/base-sidebar.html" %}
{% load bootstrap3 %}

{% block title %}Add category{% endblock %}

{% block stylesheets %}
    {{ form.media.css }}
{% endblock %}

{% block scripts %}
    {{ form.media.js }}
{% endblock %}

{% block sidebar %}
    <nav>
        <h2>Actions</h2>
        <ul class="nav nav-pills nav-stacked">
            <li role="presentation"><a href="{% url 'bdr:categories' %}">
                {% bootstrap_icon "th-list" %} List
            </a></li>
            <li class="active" role="presentation"><a href="{% url 'bdr:add-category' %}">
                {% bootstrap_icon "plus" %} Add
            </a></li>
        </ul>
    </nav>
{% endblock %}

{% block content %}
    <nav>
        <ol class="breadcrumb small">
            <li><a href="{% url 'bdr:home' %}">Home</a></li>
            <li><a href="{% url 'bdr:categories' %}">Categories</a></li>
            <li class="active">Add category</li>
        </ol>
    </nav>

    <header class="page-header">
        <h1>Add new category</h1>
    </header>

    <section>
        <form class="form-horizontal" action="{% url 'bdr:add-category' %}" method="post">
            {% csrf_token %}
            {% bootstrap_form form layout="horizontal" %}

            <div class="form-group">
                <div class="form-inline col-xs-12 text-right">
                    {% url 'bdr:categories' as category_list_url %}
                    {% bootstrap_button content="Save" button_type="submit" button_class="btn-primary" %}
                    {% bootstrap_button href=category_list_url content="Cancel" button_class="btn-default" %}
                </div>
            </div>
        </form>
    </section>
{% endblock %}
