{% extends "bdr/base-sidebar.html" %}
{% load bootstrap3 %}

{% block title %}Editing {{ category.name }}{% endblock %}

{% block stylesheets %}
    {{ form.media.css }}
{% endblock %}

{% block scripts %}
    {{ form.media.js }}
{% endblock %}

{% block sidebar %}
    <nav>
        <h2>Actions</h2>
        <ul class="nav nav-pills nav-stacked">
            <li role="presentation"><a href="{{ category.get_absolute_url }}">
                {% bootstrap_icon "file" %} View
            </a></li>
            <li class="active" role="presentation"><a href="{% url 'bdr:edit-category' pk=category.pk name=category.name|slugify %}">
                {% bootstrap_icon "pencil" %} Edit
            </a></li>
            <li role="presentation"><a href="{% url 'bdr:delete-category' pk=category.pk name=category.name|slugify %}">
                {% bootstrap_icon "remove" %} Delete
            </a></li>
        </ul>
    </nav>
{% endblock %}

{% block content %}
    <nav>
        <ol class="breadcrumb small">
            <li><a href="{% url 'bdr:home' %}">Home</a></li>
            <li><a href="{% url 'bdr:categories' %}">Categories</a></li>
            <li><a href="{{ category.get_absolute_url }}">{{ category.name }}</a></li>
            <li class="active">Edit</li>
        </ol>
    </nav>

    <header class="page-header">
        <h1>{{ category.name }}</h1>
    </header>

    <section>
        <form class="form-horizontal" action="{% url 'bdr:edit-category' pk=category.pk name=category.name|slugify %}" method="post">
            {% csrf_token %}
            {% bootstrap_form form layout="horizontal" %}

            <div class="form-group">
                <div class="form-inline col-xs-12 text-right">
                    {% bootstrap_button button_type="submit" content="Save" button_class="btn-primary" %}
                    {% bootstrap_button content="Cancel" href=category.get_absolute_url button_class="btn-default" %}
                </div>
            </div>
        </form>
    </section>
{% endblock %}
