{% extends "bdr/base-sidebar.html" %}
{% load bootstrap3 %}

{% block title %}{{ category.name }}{% endblock %}

{% block sidebar %}
    <nav>
        <h2>Actions</h2>
        <ul class="nav nav-pills nav-stacked">
            <li class="active" role="presentation"><a href="{{ category.get_absolute_url }}">
                {% bootstrap_icon "file" %} View
            </a></li>
            <li role="presentation"><a href="{% url 'bdr:edit-category' pk=category.pk name=category.name|slugify %}">
                {% bootstrap_icon "pencil" %} Edit
            </a></li>
            <li role="presentation"><a href="{% url 'bdr:delete-category' pk=category.pk name=category.name|slugify %}">
                {% bootstrap_icon "remove" %} Delete
            </a></li>
        </ul>
    </nav>
{% endblock %}

{% block content %}
    <nav>
        <ol class="breadcrumb small">
            <li><a href="{% url 'bdr:home' %}">Home</a></li>
            <li><a href="{% url 'bdr:categories' %}">Categories</a></li>
            <li class="active">{{ category.name }}</li>
        </ol>
    </nav>

    <header class="page-header">
        <h1>{{ category.name }}</h1>
    </header>

    <section>
        <h2>Datasets</h2>
    {% if category.datasets.exists %}
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Files</th>
                    <td></td>
                </tr>
            </thead>

            <tbody>
            {% for dataset in category.datasets.all %}
                <tr>
                    <th><a href="{{ dataset.get_absolute_url }}">{{ dataset.name }}</a></th>
                    <td>{{ dataset.files.count }}</td>
                    <td class="text-right">
                    {% for tag in dataset.tags.all %}
                        <a class="small label label-default" href="{{ tag.get_absolute_url }}">#{{ tag.name }}</a>
                    {% endfor %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>There are no datasets in this category.</p>
    {% endif %}
    </section>
{% endblock %}
