{% extends "bdr/base-sidebar.html" %}
{% load bootstrap3 %}

{% block title %}Editing {{ format.name }} – Formats{% endblock %}

{% block stylesheets %}
    {{ wizard.form.media.css }}
{% endblock %}

{% block scripts %}
    {{ wizard.form.media.js }}
{% endblock %}

{% block sidebar %}
    <nav>
        <h2>Actions</h2>
        <ul class="nav nav-pills nav-stacked">
            <li role="presentation"><a href="{{ format.get_absolute_url }}">
                {% bootstrap_icon "file" %} View
            </a></li>
        {% if format.editable %}
            <li class="active" role="presentation"><a href="{% url 'bdr:edit-format' pk=format.pk %}">
                {% bootstrap_icon "pencil" %} Edit
            </a></li>
        {% endif %}
        {% if format.deletable %}
            <li role="presentation"><a href="{% url 'bdr:delete-format' pk=format.pk %}">
                {% bootstrap_icon "remove" %} Delete
            </a></li>
        {% endif %}
        </ul>
    </nav>
{% endblock %}

{% block content %}
    <nav>
        <ol class="breadcrumb small">
            <li><a href="{% url 'bdr:home' %}">Home</a></li>
            <li><a href="{% url 'bdr:formats' %}">Formats</a></li>
            <li><a href="{{ format.get_absolute_url }}">{{ format.name }}</a></li>
            <li class="active">Edit</li>
        </ol>
    </nav>

    <header class="page-header">
        <h1>{{ format.name }}</h1>
    </header>

    <section>
        <form class="form-horizontal" action="{% url 'bdr:edit-format' pk=format.pk %}" method="post">
            {% csrf_token %}
            {% block form %}{% endblock %}
        </form>
    </section>
{% endblock %}
