{% extends "bdr/base-sidebar.html" %}
{% load bootstrap3 %}

{% block title %}Create {{ name }} format specification – Formats{% endblock %}

{% block stylesheets %}
    {{ form.media.css }}
{% endblock %}

{% block scripts %}
    {{ form.media.js }}
{% endblock %}

{% block sidebar %}
    <nav>
        <h2>Actions</h2>
        <ul class="nav nav-pills nav-stacked">
            <li role="presentation"><a href="{% url 'bdr:formats' %}">
                {% bootstrap_icon "th-list" %} List
            </a></li>
        {% for format in realisable_formats %}
            <li {% ifequal id format.entry_point_name %}class="active"{% endifequal %} role="presentation"><a href="{% url 'bdr:create-format' slug=format.entry_point_name %}">
                {% bootstrap_icon "plus" %} Create {{ format.name }} format
            </a></li>
        {% endfor %}
        </ul>
    </nav>
{% endblock %}

{% block content %}
    <nav>
        <ol class="breadcrumb small">
            <li><a href="{% url 'bdr:home' %}">Home</a></li>
            <li><a href="{% url 'bdr:formats' %}">Formats</a></li>
            <li class="active">Create new {{ name }} format</li>
        </ol>
    </nav>

    <header class="page-header">
        <h1>Create new {{ name }} format</h1>
    </header>

    <section>
        <form class="form-horizontal" action="{% url 'bdr:create-format' slug=id %}" method="post">
            {% csrf_token %}
            {% block form %}{% endblock %}

            <div class="form-group">
                <div class="form-inline col-xs-12 text-right">
                    {% bootstrap_button button_type="submit" content="Save" button_class="btn btn-primary" %}
                    {% bootstrap_button button_type="submit" name="operation" value="add" icon="plus" content="Add field" button_class="btn btn-primary" %}
                    <a class="btn btn-default" href="{% url 'bdr:formats' %}">Cancel</a>
                </div>
            </div>
        </form>
    </section>
{% endblock %}
