{% extends "bdr/base-sidebar.html" %}
{% load bootstrap3 %}
{% load humanize %}

{% block title %}{{ file.name }} @r{{ revision.number }} – {{ dataset.name }}{% endblock %}

{% block sidebar %}
    <nav>
        <h2>Actions</h2>
        <ul class="nav nav-pills nav-stacked">
            <li role="presentation"><a href="{{ file.get_absolute_url }}">
                {% bootstrap_icon "level-up" %} Back to file
            </a></li>
            <li class="active" role="presentation"><a href="{{ revision.get_absolute_url }}">
                {% bootstrap_icon "file" %} View
            </a></li>
            <li role="presentation"><a href="{% url 'bdr:edit-revision' rpk=revision.pk revision=revision.number fpk=file.pk filename=file.name|slugify dpk=dataset.pk dataset=dataset.name|slugify %}">
                {% bootstrap_icon "pencil" %} Edit
            </a></li>
            <li role="presentation"><a href="{% url 'bdr:delete-revision' rpk=revision.pk revision=revision.number fpk=file.pk filename=file.name|slugify dpk=dataset.pk dataset=dataset.name|slugify %}">
                {% bootstrap_icon "remove" %} Delete
            </a></li>
            <li role="presentation"><a href="{% url 'bdr:export-revision' rpk=revision.pk revision=revision.number fpk=file.pk filename=file.name|slugify dpk=dataset.pk dataset=dataset.name|slugify %}">
                {% bootstrap_icon "download" %} Export
            </a></li>
        </ul>
    </nav>
{% endblock %}

{% block content %}
    <nav>
        <ol class="breadcrumb small">
            <li><a href="{% url 'bdr:home' %}">Home</a></li>
            <li><a href="{% url 'bdr:datasets' %}">Datasets</a></li>
            <li><a href="{{ dataset.get_absolute_url }}">{{ dataset.name }}</a></li>
            <li><a href="{% url 'bdr:files' dpk=dataset.pk dataset=dataset.name|slugify %}">Files</a></li>
            <li><a href="{{ file.get_absolute_url }}">{{ file.name }}</a></li>
            <li class="active">@r{{ revision.number }}</li>
        </ol>
    </nav>

    <header class="page-header">
        <h1>
            <a href="{{ file.get_absolute_url }}">{{ file.name }}</a> @r{{ revision.number }} <a class="small" href="{{ dataset.get_absolute_url }}">{{ dataset.name }}</a>
        {% for tag in tags %}
            <a class="label label-default tag" href="{{ tag.get_absolute_url }}">#{{ tag }}</a>
        {% endfor %}
        </h1>
    </header>

    <section>
        <h2>Details</h2>
        <table class="table table-responsive">
            <colgroup>
                <col class="col-xs-2" />
                <col class="col-xs-10" />
            </colgroup>
            <tr>
                <th>Added at</th>
                <td>{{ revision.update.timestamp|date:"j M Y, H:i"|default:"Unknown" }}</td>
            </tr>
            <tr>
                <th>Last modified</th>
                <td>{{ revision.modified_at|date:"j M Y, H:i"|default:"Unknown" }}</td>
            </tr>
            <tr>
                <th>Size</th>
                <td>{{ revision.size|filesizeformat }}</td>
            </tr>
            <tr>
                <th>Format</th>
                <td><a href="{{ revision.format.get_absolute_url }}">{{ revision.format.name }}</a></td>
            </tr>
        </table>
        {% url 'bdr:export-revision' rpk=revision.pk revision=revision.number fpk=file.pk filename=file.name|slugify dpk=dataset.pk dataset=dataset.name|slugify as export_link %}
        <p>{% bootstrap_button href=export_link content="Export" icon="download" button_class="btn-default" size="sm" %}</p>
    </section>
{% endblock %}
