{% extends "bdr/base-sidebar.html" %}
{% load bootstrap3 %}

{% block title %}Add source{% endblock %}

{% block stylesheets %}
    {{ form.media.css }}
{% endblock %}

{% block scripts %}
    {{ form.media.js }}
{% endblock %}

{% block sidebar %}
    <nav>
        <h2>Actions</h2>
        <h3>Dataset</h3>
        <ul class="nav nav-pills nav-stacked">
            <li role="presentation"><a href="{{ dataset.get_absolute_url }}">
                {% bootstrap_icon "file" %} View
            </a></li>
            <li role="presentation"><a href="{% url 'bdr:edit-dataset' dpk=dataset.pk dataset=dataset.name|slugify %}">
                {% bootstrap_icon "pencil" %} Edit
            </a></li>
            <li role="presentation"><a href="{% url 'bdr:delete-dataset' dpk=dataset.pk dataset=dataset.name|slugify %}">
                {% bootstrap_icon "remove" %} Delete
            </a></li>
        </ul>

        <h4>Sources</h4>
        <ul class="nav nav-pills nav-stacked">
            <li role="presentation"><a href="{% url 'bdr:sources' dpk=dataset.pk dataset=dataset.name|slugify %}">
                {% bootstrap_icon "th-list" %} List
            </a></li>
            <li class="active" role="presentation"><a href="{% url 'bdr:add-source' dpk=dataset.pk dataset=dataset.name|slugify %}">
                {% bootstrap_icon "plus" %} Add source
            </a></li>
        </ul>

        <h4>Files</h4>
        <ul class="nav nav-pills nav-stacked">
            <li role="presentation"><a href="{% url 'bdr:files' dpk=dataset.pk dataset=dataset.name|slugify %}">
                {% bootstrap_icon "th-list" %} List
            </a></li>
            <li role="presentation"><a href="{% url 'bdr:upload-file' dpk=dataset.pk dataset=dataset.name|slugify %}">
                {% bootstrap_icon "upload" %} Upload file
            </a></li>
        </ul>
    </nav>
{% endblock %}

{% block content %}
    <nav>
        <ol class="breadcrumb small">
            <li><a href="{% url 'bdr:home' %}">Home</a></li>
            <li><a href="{% url 'bdr:datasets' %}">Datasets</a></li>
            <li><a href="{{ dataset.get_absolute_url }}">{{ dataset.name }}</a></li>
            <li>Sources</li>
            <li class="active">Add</li>
        </ol>
    </nav>

    <header class="page-header">
        <h1>Add new source</h1>
    </header>

    <section>
        <h2>Details</h2>
        <form class="form-horizontal" action="{% url 'bdr:add-source' dpk=dataset.pk dataset=dataset.name|slugify %}" method="post">
            {% csrf_token %}
            {% bootstrap_form form layout="horizontal" %}

            <div class="form-group">
                <div class="form-inline col-xs-12 text-right">
                    {% bootstrap_button button_type="submit" content="Save" button_class="btn-primary" %}
                    {% bootstrap_button content="Cancel" href=dataset.get_absolute_url button_class="btn-default" %}
                </div>
            </div>
        </form>
    </section>
{% endblock %}
