<!DOCTYPE html>
{% load bootstrap3 %}
{% load staticfiles %}
<html lang="en">
<head>
    <title>{% block title %}Home{% endblock %} – Biological Dataset Repository</title>
    <link rel="icon" href="{% static "bdr/favicon.ico" %}" type="image/x-icon" />
    {% bootstrap_css %}
    {{ search_form.media.css }}
    {% block stylesheets %}{% endblock %}

    {% bootstrap_javascript %}
    {{ search_form.media.js }}
    {% block scripts %}{% endblock %}
</head>
<body class="container">
    <header id="header" class="row">
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#main-navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'bdr:home' %}">
                    <img alt="" src="{% static "bdr/images/logo.png" %}" height="21" width="21">
                    Biological Dataset Repository
                </a>
            </div>
            <div id="main-navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                            Manage <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="{% url 'bdr:categories' %}">Categories</a></li>
                            <li><a href="{% url 'bdr:datasets' %}">Datasets</a></li>
                            {# TODO: Change route #}
                            <li><a href="{% url 'bdr.frontend:formats' %}">Formats</a></li>
                            <li><a href="{% url 'bdr:tags' %}">Tags</a></li>
                        </ul>
                    </li>
                </ul>

                {% if search_form %}
                <form class="repository-search navbar-form navbar-right" action="{% url 'bdr:search' %}"
                      method="get" role="search">
                    {% bootstrap_form search_form layout="inline" show_label=False %}
                </form>
                {% endif %}
            </div>
        </div>
    </nav>
    </header>

    <main class="row">
        {% block main_content %}{% endblock %}
    </main>

    <footer id="page-footer" class="row well">
        <ul id="footer-links" class="list-inline col-xs-9">
            <li><a href="{% url 'bdr:about' %}">About</a></li>
            <li><a href="{% url 'bdr:legal' %}">Legal</a></li>
            <li>&copy; 2015 Michael Winter</li>
        </ul>
        {% block footer %}{% endblock %}
    </footer>
</body>
</html>
