{% extends "bdr/base-sidebar.html" %}
{% load bootstrap3 %}

{% block title %}– Tags{% endblock %}

{% block sidebar %}
    <nav>
        <h2>Actions</h2>
        <ul class="nav nav-pills nav-stacked">
        {% block menu_items %}
            <li role="presentation"><a href="{% url 'bdr:tags' %}">
                {% bootstrap_icon "level-up" %} Back to Tags
            </a></li>
        {% endblock %}
        </ul>
    </nav>
{% endblock %}

{% block content %}
    <nav>
        <ol class="breadcrumb small">
            <li><a href="{% url 'bdr:home' %}">Home</a></li>
        {% block breadcrumbs %}
            <li><a href="{% url 'bdr:tags' %}">Tags</a></li>
        {% endblock %}
        </ol>
    </nav>

    <header class="page-header">
        <h1>{% block heading %}{% endblock %}</h1>
    </header>
{% endblock %}
