{% extends "bdr/tags/base.html" %}
{% load bootstrap3 %}

{% block title %}Tags{% endblock %}
{% block heading %}Tags{% endblock %}
{% block breadcrumbs %}
    <li class="active">Tags</li>
{% endblock %}

{% block menu_items %}
    <li class="active" role="presentation"><a href="{% url 'bdr:tags' %}">
        {% bootstrap_icon "th-list" %} List
    </a></li>
    <li role="presentation"><a href="{% url 'bdr:add-tag' %}">
        {% bootstrap_icon "plus" %} Add
    </a></li>
{% endblock %}

{% block content %}
    {{ block.super }}

    <section>
    {% if page_obj %}
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th class="col-xs-6">Name</th>
                    <th class="col-xs-2">Datasets</th>
                    <th class="col-xs-2">Files</th>
                    <th class="col-xs-2">Revisions</th>
                </tr>
            </thead>

            <tbody>
            {% for tag in page_obj %}
                <tr>
                    <th><a href="{{ tag.get_absolute_url }}">#{{ tag.name }}</a></th>
                    <td>{{ tag.datasets.count }}</td>
                    <td>{{ tag.files.count }}</td>
                    <td>{{ tag.revisions.count }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <nav class="text-center">{% bootstrap_pagination page_obj size="small" %}</nav>
    {% else %}
        <p>No tags have been added yet.</p>
    {% endif %}
    </section>
{% endblock %}
