{% extends "bdr/files/base.html" %}
{% load bootstrap3 %}

{% block title %}Delete {{ file.name }}? {{ block.super }}{% endblock %}
{% block heading %}Delete {{ file.name }}?{% endblock %}
{% block breadcrumbs %}
    {{ block.super }}
    <li><a href="{{ file.get_absolute_url }}">{{ file.name }}</a></li>
    <li class="active">Delete</li>
{% endblock %}

{% block menu_items %}
    {{ block.super }}
    <li role="presentation">
        <a href="{{ file.get_absolute_url }}">{% bootstrap_icon "file" %} View</a>
    </li>
    <li role="presentation">
        {% url 'bdr:edit-file' fpk=file.pk filename=file.name|slugify dpk=dataset.pk dataset=dataset.name|slugify as edit_url %}
        <a href="{{ edit_url }}">{% bootstrap_icon "pencil" %} Edit</a>
    </li>
    <li class="active" role="presentation">
        {% url 'bdr:delete-file' fpk=file.pk filename=file.name|slugify dpk=dataset.pk dataset=dataset.name|slugify as delete_url %}
        <a href="{{ delete_url }}">{% bootstrap_icon "remove" %} Delete</a>
    </li>
    {# TODO: Change route for revision uploads #}
    <li role="presentation">
        {% comment %}{% url 'bdr:upload-file' dpk=dataset.pk dataset=dataset.name|slugify as upload_url %}{% endcomment %}
        <a href="{{ upload_url }}">{% bootstrap_icon "upload" %} Upload revision</a>
    </li>
{% endblock %}

{% block stylesheets %}
    {{ form.media.css }}
{% endblock %}

{% block scripts %}
    {{ form.media.js }}
{% endblock %}

{% block content %}
    {{ block.super }}

    <section>
        {% url 'bdr:delete-file' fpk=file.pk filename=file.name|slugify dpk=dataset.pk dataset=dataset.name|slugify as delete_url %}
        <form action="{{ delete_url }}" method="post">
            {% csrf_token %}
            <p>Are you sure you want to delete the <em>{{ file.name }}</em> file?</p>
            <p class="text-danger help-block">This action is irreversible!</p>

            <div class="form-group">
                {% bootstrap_button button_type="submit" content="Delete" button_class="btn-danger" %}
                {% bootstrap_button content="Cancel" button_class="btn-default" href=file.get_absolute_url %}
            </div>
        </form>
    </section>
{% endblock %}
