{% extends "bdr/base-sidebar.html" %}
{% load bootstrap3 %}

{% block title %}Editing {{ file.name }}{% endblock %}

{% block sidebar %}
    <nav>
        <h2>Actions</h2>
        <ul class="nav nav-pills nav-stacked">
            <li role="presentation"><a href="{{ file.get_absolute_url }}">
                {% bootstrap_icon "file" %} View
            </a></li>
            <li class="active" role="presentation"><a href="{% url 'bdr:edit-file' fpk=file.pk filename=file.name|slugify dpk=file.dataset.pk dataset=file.dataset.name|slugify %}">
                {% bootstrap_icon "pencil" %} Edit
            </a></li>
            <li role="presentation"><a href="{% url 'bdr:delete-file' fpk=file.pk filename=file.name|slugify dpk=file.dataset.pk dataset=file.dataset.name|slugify %}">
                {% bootstrap_icon "remove" %} Delete
            </a></li>
            {# TODO: Change route for revision uploads #}
            <li role="presentation"><a href="{% comment %}{% url 'bdr:upload-file' dpk=dataset.pk dataset=dataset.name|slugify %}{% endcomment %}">
                {% bootstrap_icon "upload" %} Upload revision
            </a></li>
        </ul>
    </nav>
{% endblock %}

{% block content %}
    <nav>
        <ol class="breadcrumb small">
            <li><a href="{% url 'bdr:home' %}">Home</a></li>
            <li><a href="{% url 'bdr:datasets' %}">Datasets</a></li>
            <li><a href="{{ file.dataset.get_absolute_url }}">{{ file.dataset.name }}</a></li>
            <li>Files</li>
            <li><a href="{{ file.get_absolute_url }}">{{ file.name }}</a></li>
            <li class="active">Edit</li>
        </ol>
    </nav>

    <header class="page-header">
        <h1>{{ file.name }} <a class="small" href="{{ file.dataset.get_absolute_url }}">{{ file.dataset.name }}</a></h1>
    </header>

    <section>
        <form class="form-horizontal" action="{% url 'bdr:edit-file' fpk=file.pk filename=file.name|slugify dpk=file.dataset.pk dataset=file.dataset.name|slugify %}" method="post">
            {% csrf_token %}
            {% bootstrap_form form layout="horizontal" %}

{#            {{ wizard.management_form }}#}
{#            {{ wizard.form.management_form }}#}
{#            {% with errors=wizard.form.non_form_errors %}#}
{#            {% if errors %}#}
{#            <div class="panel panel-danger">#}
{#                <div class="panel-heading">Submission failed</div>#}
{#                <div class="panel-body">#}
{#                    <ul class="errorlist">#}
{#                    {% for error in errors %}#}
{#                        <li>{{ error }}</li>#}
{#                    {% endfor %}#}
{#                    </ul>#}
{#                </div>#}
{#            </div>#}
{#            {% endif %}#}
{#            {% endwith %}#}
{##}
{#            {% for form in wizard.form.forms %}#}
{#                <fieldset><legend>{{ form.name.value }}</legend>#}
{#                {% for field in form.hidden_fields %}#}
{#                    {{ field }}#}
{#                {% endfor %}#}
{##}
{#                {% with form_errors=form.non_field_errors %}#}
{#                {% if form_errors %}#}
{#                <ul class="errorlist text-danger">#}
{#                {% for error in form_errors %}#}
{#                    <li>{{ error }}</li>#}
{#                {% endfor %}#}
{#                </ul>#}
{#                {% endif %}#}
{#                {% endwith %}#}
{##}
{#                {% for field in form.visible_fields %}#}
{#                    {% include 'frontend/fragments/field.html' %}#}
{#                {% endfor %}#}
{#                </fieldset>#}
{#            {% endfor %}#}

            <div class="form-group">
                <div class="form-inline col-xs-12 text-right">
                    {% bootstrap_button button_type="submit" content="Save" button_class="btn-primary" %}
                    {% bootstrap_button content="Cancel" href=file.get_absolute_url button_class="btn-default" %}
                </div>
            </div>
        </form>
    </section>
{% endblock %}
