{% extends "bdr/base-sidebar.html" %}
{% load bootstrap3 %}
{% load humanize %}

{% block title %}{{ file.name }}{% endblock %}

{% block sidebar %}
    <nav>
        <h2>Actions</h2>
        <ul class="nav nav-pills nav-stacked">
            <li class="active" role="presentation"><a href="{{ file.get_absolute_url }}">
                {% bootstrap_icon "file" %} View
            </a></li>
            <li role="presentation"><a href="{% url 'bdr:edit-file' fpk=file.pk filename=file.name|slugify dpk=file.dataset.pk dataset=file.dataset.name|slugify %}">
                {% bootstrap_icon "pencil" %} Edit
            </a></li>
            <li role="presentation"><a href="{% url 'bdr:delete-file' fpk=file.pk filename=file.name|slugify dpk=file.dataset.pk dataset=file.dataset.name|slugify %}">
                {% bootstrap_icon "remove" %} Delete
            </a></li>
            {# TODO: Change route for revision upload #}
            <li role="presentation"><a href="{% comment %}{% url 'bdr.frontend:file-add' slug=object.slug %}{% endcomment %}">
                {% bootstrap_icon "upload" %} Upload revision
            </a></li>
        </ul>
    </nav>
{% endblock %}

{% block content %}
    <nav>
        <ol class="breadcrumb small">
            <li><a href="{% url 'bdr:home' %}">Home</a></li>
            <li><a href="{% url 'bdr:datasets' %}">Datasets</a></li>
            <li><a href="{{ file.dataset.get_absolute_url }}">{{ file.dataset.name }}</a></li>
            <li>Files</li>
            <li class="active">{{ file.name }}</li>
        </ol>
    </nav>

    <header class="page-header">
        <h1>{{ file.name }} <a class="small" href="{{ file.dataset.get_absolute_url }}">{{ file.dataset.name }}</a></h1>
    </header>

    <section>
        <h2>Revisions</h2>
    {% if page_obj.object_list %}
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th class="col-xs-1">Revision</th>
                    <th class="col-xs-4">Updated</th>
                    <th class="col-xs-2">Size</th>
                    <td class="col-xs-5"></td>
                </tr>
            </thead>

            <tbody>
            {% for revision in page_obj.object_list %}
                <tr>
                    <td>{{ revision.number }}</td>
                    <td title="Updated on {{ revision.update.timestamp }}">{{ revision.update.timestamp|naturaltime }}</td>
                    <td>
                        {{ revision.size|filesizeformat }}
                        {# TODO: Change route to revision details #}
                        <a class="btn btn-link btn-xs" href="{% comment %}{{ revision.get_absolute_url }}{% endcomment %}" title="Download revision">
                            {% bootstrap_icon "download" %}
                        </a>
                    </td>
                    <td class="text-right">
                    {% for tag in revision.tags.all %}
                        <a class="small label label-default"
                           href="{% url 'bdr:view-tag' pk=tag.pk name=tag.name|slugify %}">{{ tag.name }}</a>
                    {% endfor %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        {% bootstrap_pagination page_obj size="small" %}
    {% else %}
        {# TODO: Change route for revision upload #}
        <p>There are no revisions of this file. <a href="{% comment %}{% url 'bdr:add-file' %}{% endcomment %}">Upload a revision</a> to manually add its contents to the repository.</p>
    {% endif %}
    </section>
{% endblock %}
