{% extends "bdr/base-sidebar.html" %}
{% load bootstrap3 %}
{% load humanize %}

{% block title %}Files – {{ dataset.name }}{% endblock %}

{% block sidebar %}
    <nav>
        <h2>Actions</h2>
        <h3>Dataset</h3>
        <ul class="nav nav-pills nav-stacked">
            <li role="presentation"><a href="{{ dataset.get_absolute_url }}">
                {% bootstrap_icon "file" %} View
            </a></li>
            <li role="presentation"><a href="{% url 'bdr:edit-dataset' dpk=dataset.pk dataset=dataset.name|slugify %}">
                {% bootstrap_icon "pencil" %} Edit
            </a></li>
            <li role="presentation"><a href="{% url 'bdr:delete-dataset' dpk=dataset.pk dataset=dataset.name|slugify %}">
                {% bootstrap_icon "remove" %} Delete
            </a></li>
        </ul>

        <h4>Sources</h4>
        <ul class="nav nav-pills nav-stacked">
            <li role="presentation"><a href="{% url 'bdr:sources' dpk=dataset.pk dataset=dataset.name|slugify %}">
                {% bootstrap_icon "th-list" %} List
            </a></li>
            <li role="presentation"><a href="{% url 'bdr:add-source' dpk=dataset.pk dataset=dataset.name|slugify %}">
                {% bootstrap_icon "plus" %} Add source
            </a></li>
        </ul>

        <h4>Files</h4>
        <ul class="nav nav-pills nav-stacked">
            <li class="active" role="presentation"><a href="{% url 'bdr:files' dpk=dataset.pk dataset=dataset.name|slugify %}">
                {% bootstrap_icon "th-list" %} List
            </a></li>
            <li role="presentation"><a href="{% url 'bdr:upload-file' dpk=dataset.pk dataset=dataset.name|slugify %}">
                {% bootstrap_icon "upload" %} Upload file
            </a></li>
        </ul>
    </nav>
{% endblock %}

{% block content %}
    <nav>
        <ol class="breadcrumb small">
            <li><a href="{% url 'bdr:home' %}">Home</a></li>
            <li><a href="{% url 'bdr:datasets' %}">Datasets</a></li>
            <li><a href="{{ dataset.get_absolute_url }}">{{ dataset.name }}</a></li>
            <li class="active">Files</li>
        </ol>
    </nav>

    <header class="page-header">
        <h1>Files <a class="small" href="{{ dataset.get_absolute_url }}">{{ dataset.name }}</a></h1>
    </header>

    <section>
    {% if page_obj %}
        <table class="table table-responsive">
            <thead>
                <tr>
                    <th class="col-xs-7" colspan="2">Name</th>
                    <th class="col-xs-1">Revisions</th>
                    <th class="col-xs-3">Last modified</th>
                    <th class="col-xs-1"><span class="sr-only">Operations</span></th>
                </tr>
            </thead>

            <tbody>
            {% for file in page_obj %}
                <tr>
                    <th>
                        <a href="{{ file.get_absolute_url }}">{{ file.name }}</a>
{#                    {% if file.revisions.exists %}#}
                        {# TODO: Change route for exporting latest revision #}
{#                        <a class="btn btn-link btn-xs" href="{% comment %}{% url 'bdr.frontend:download' ds=object.slug fn=file.name rev='latest' %}{% endcomment %}"#}
{#                           title="Download latest revision">#}
{#                            {% bootstrap_icon "download" %}#}
{#                        </a>#}
{#                    {% endif %}#}
                    </th>
                    <td class="text-right">
                    {% for tag in file.tags.all %}
                        <a class="small label label-default" href="{{ tag.get_absolute_url }}">#{{ tag.name }}</a>
                    {% endfor %}
                    </td>
                    <td>{{ file.revisions.count }}</td>
                {% if file.revisions.exists and file.revisions.last.update.modified_at %}
                    <td title="Updated at {{ file.revisions.last.update.modified_at }}">{{ file.revisions.last.update.modified_at|naturaltime }}</td>
                {% else %}
                    <td>Unknown</td>
                {% endif %}
                    <td class="text-right text-nowrap" role="navigation">
                        <ul class="list-inline">
                            <li><a href="{% url 'bdr:edit-file' fpk=file.pk filename=file.name|slugify dpk=dataset.pk dataset=dataset.name|slugify %}" title="Edit">{% bootstrap_icon "pencil" %}</a></li>
                            <li><a href="{% url 'bdr:delete-file' fpk=file.pk filename=file.name|slugify dpk=dataset.pk dataset=dataset.name|slugify %}" title="Delete">{% bootstrap_icon "remove" %}</a></li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <nav class="text-center">{% bootstrap_pagination page_obj size="small" %}</nav>
    {% else %}
        <p>There are no files in this dataset. <a href="{% url 'bdr:upload-file' dpk=dataset.pk dataset=dataset.name|slugify %}">Upload a file</a> to manually add its contents to the repository.</p>
    {% endif %}
    </section>
{% endblock %}
