<ul class="panel-group list-unstyled" style="margin-bottom: 0">
{% for category in categories %}
    <li id="group-{{ category.slug }}" class="panel panel-default" role="tablist" aria-multiselectable="true">
        <div id="tab-{{ category.slug }}" class="panel-heading" role="tab">
            <div class="panel-title">
                <a data-toggle="collapse" data-parent="#group-{{ category.slug }}" href="#child-{{ category.slug }}" aria-controls="child-{{ category.slug }}">{{ category.name }} <span class="caret"></span></a>
            </div>
        </div>
        <div id="child-{{ category.slug }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="group-{{ category.slug }}">
            {% with subcategories=category.subcategories.all %}
            {% if subcategories %}
            <div class="panel-body" style="padding: 0.5em 0.5em 0.5em 1em">
                {% include template with template=template categories=subcategories %}
            </div>
            {% endif %}
            {% endwith %}

            {% with datasets=category.datasets.all %}
            {% if datasets %}
            <ul class="list-group">
                {% for dataset in datasets %}
                <li class="list-group-item"><a href="{{ dataset.get_absolute_url }}">{{ dataset.name }}</a></li>
                {% endfor %}
            </ul>
            {% else %}
                Empty
            {% endif %}
            {% endwith %}
        </div>
    </li>
{% endfor %}
</ul>
