<div class="form-group">
    <label class="control-label col-sm-3{% if field.errors or field.name in remote_errors %} text-danger{% endif %}" for="{{ field.id_for_label }}">{{ field.label }}</label>
    <div class="col-sm-9">
        {{ field }}
        {% if field.help_text %}<p class="text-info">{{ field.help_text }}</p>{% endif %}

        {% if field.errors or field.name in remote_errors %}
        <ul class="errorlist text-danger">
        {% for error in field.errors %}
            <li>{{ error }}</li>
        {% endfor %}
        {% for field_name, errors in remote_errors.items %}
        {% if field_name == field.name %}
            {% for error in errors %}
            <li>{{ error }}</li>
            {% endfor %}
        {% endif %}
        {% endfor %}
        </ul>
        {% endif %}
    </div>
</div>
