{% extends 'frontend/base.html' %}

{% block title %}Add tag{% endblock %}

{% block sidebar %}
    <nav>
        <h2>Actions</h2>
        <ul class="nav nav-pills nav-stacked">
            <li role="presentation"><a href="{% url 'bdr.frontend:tags' %}">
                <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> List
            </a></li>
            <li class="active" role="presentation"><a href="{% url 'bdr.frontend:tag-add' %}">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add
            </a></li>
        </ul>
    </nav>
{% endblock %}

{% block content %}
    <header class="page-header">
        <h1>Add new tag</h1>
    </header>
    <section>
    <form class="form-horizontal" action="{% url 'bdr.frontend:tag-add' %}" method="post">{% csrf_token %}
        {% for field in form.hidden_fields %}
            {{ field }}
        {% endfor %}

        {% with form_errors=form.non_field_errors %}
        {% if form_errors %}
        <ul class="errorlist text-danger">
        {% for error in form_errors %}
            <li>{{ error }}</li>
        {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}

        {% for field in form.visible_fields %}
            {% include 'frontend/fragments/field.html' %}
        {% endfor %}

        <div class="form-group">
            <div class="form-inline col-xs-12 text-right">
                <input type="submit" class="btn btn-primary" value="Save">
                <a class="btn btn-default" href="{% url 'bdr.frontend:tags' %}">Cancel</a>
            </div>
        </div>
    </form>
    </section>
{% endblock %}
